.venv*
__pycache__/

_audio/*
_video/*
_json/*
_data/*
!_audio/.gitkeep
!_video/.gitkeep
!_json/.gitkeep
!_data/.gitkeep

__build/*
__dist/*
__dist_cx/*

folderico-*.ico
desktop.ini

__build/*
__dist/*
__dist_cx/*

build/*
dist/*
dist_cx/*